ul, li{list-style: none;}
body
{
    z-index: 1;
    padding: 1px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul, li{list-style: none;}
a{
    text-decoration: none;
    color: black;
}
.navbar a {
    text-decoration: none;
    color: white;   
}
.navbar{
    
    display: flex;
    position: relative;
    /* 가로 방향으로 배치, 내용물의 with만큼만 차지. 
    height는 컨테이너의 높이만큼 늘어난다.(컬럼 레이아웃을 만들 때 편리.
    https://studiomeal.com/archives/197 제대로 공부하기.*/
    justify-content: space-between; /*selfcook과 페이스북, 인스타 모양을 양 끝으로 보냄.*/
    align-items: center; /*위, 아래 기준으로 중앙에 위치시킨다.*/
    background-color: 	#9ACD32;
    padding: 0px 10px; /*위아래, 양 옆 간격을 조정.*/
    
}
.navbar_logo{
    padding: 10px;
    font-size: 24px;
    color: white;
}
.navbar_logo i {
    color: 	#EEE8AA;
}
/* 메뉴 꾸미기 */
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li{
    padding: 20px 20px;
    transition: all 1s;
    font-size: 20px;
}
.navbar_menu li:hover:not(.action){
    position: relative;
    color: rgb(3, 56, 3);
}
.navbar_menu li:hover{
    position: relative;
    background-color: #FAFAD2;
    border-radius: 5px;
    color: white;
}
.navbar_icons{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
    font-size: 20px;
}
.navbar_icons li{
    padding: 8px 12px;
    list-style: none;
}
/*Dropdown 하면 되는 부분*/
.dropdown
{
    z-index: 2;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: -15px; /*dropdown 하면 소 메뉴들이 밑으로 정렬되게 만들어줌. */
    margin-top: 20px; /*높이 조절.*/
    opacity: 0; /*나중에 검색해보고 정리하기.*/
    display: none;
    background-color: #FAFAD2;
}
.menu_bar:nth-child(1):hover > .dropdown{ /*selfcook에 마우스를 가져다 대면 dropdown에 효과가 발생.*/
    display: block;
    visibility: visible;
    opacity: 1;
}
.menu_bar:nth-child(2):hover > .dropdown{ /*selfcook에 마우스를 가져다 대면 dropdown에 효과가 발생.*/
    display: block;
    visibility: visible;
    opacity: 1;
}
.menu_bar:nth-child(3):hover > .dropdown{ /*selfcook에 마우스를 가져다 대면 dropdown에 효과가 발생.*/
    display: block;
    visibility: visible;
    opacity: 1;
}
.menu_bar:nth-child(4):hover > .dropdown{ /*selfcook에 마우스를 가져다 대면 dropdown에 효과가 발생.*/
    display: block;
    visibility: visible;
    opacity: 1;
}
.title{
    width: 400px;
}
footer
{
    position: relative;
    background-color: #9ACD32;
}
footer p
{
    position: relative;
    color: white;
    top: 30px;
    margin-left: 30px;
}
footer .navbar_icons2
{
    position: relative;
    font-size: 25px;
    margin: 10px;
    width: 30px;
    height: 30px;
    color: white;
    margin-left: 92%;
}
footer a{
    text-decoration: none;
    color: white;
}
footer .navbar_icons2 li
{
    position: relative;
    list-style: none;
    top: 12px;
    padding: 10px;
}
.textbox{
    position: relative;
    left: 150px;
    font-size: 15px;
    width: 820px;
}
.option{
    position: relative;
    left: 150px;
}
.option, input{
    height: 25px;
    font-size: 15px;
}
.textbox{
    position: relative;
    height: 25px;
}
.title, label
{
    text-align: center;
}
.content, label{
    text-align: center;
}
.submit{
    position: relative;
    top: -30px;
    left: 1000px;
    width: 40px;
    height: 30px;
}